body {
    background-color: #f4e9d8; /* zoek op linear-gradient */
    height: 100vh;
    font-family: serif;
    margin: 0;
    align-content: center;
}
section {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container {
    display: flex;
    background-color: #e29578;
    border-radius: 8px;
}

.left-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.left-under {
    background-color: #e29578;
}


.center {
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: dotted lightpink;
    border-left: dotted lightpink;
    border-right: dotted lightpink;
}

h1 {
    margin: 5px 15px;
    color: #f4e9d8;
}

p {
    margin: 10px 5px;
    font-size: 18px;
    font-weight: 700;
    color: #f4e9d8;
    text-align: center;
}

ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 30px;
    flex-direction: column;
}

button {
    background-color: pink;
    color: lightcoral;
    font-size: 18px;  
    font-weight:bold;           
    padding: 10px 20px;          
    border: 4px solid lightpink;             
    border-radius: 5px;          
    cursor: pointer;  
}

button:hover {
    background-color: lightpink;
}

.right-center {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.right-under {
    width: 300px;
    background-color: lightcoral;
    border-radius: 8px;
}

.quote {
    font-size: 28px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 25px;
}

.content-title {
    border: 0.25vw dotted #f4e9d8;
}

.photo-edit {
    border-radius: 8px;
}
